/* Подключение различных видов шрифта Roboto. Подключение шрифтов через Google Fonts*/

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Подключение различных видов шрифта Pacifico. Подключение шрифтов из папки проекта.*/

@font-face {
  font-family: "Pacifico", sans-serif;
  src: url("assets/fonts/pacifico/Pacifico-Regular.ttf");
}
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  /* Установили видимые границы пока не полный контент */
  border: 1px solid red;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #4d2323;
  font-family: "Roboto", sans-serif;
  /* минимальная высота body не может быть меньше высоты страницы */
  min-height: 100vh;
  /*Появилась линейка прокрутки. Чтобы убрарть применим след свой-ва.*/
  margin: 0;
  padding: 0;
  /* Прижмем footer к низу страницы */
  display: flex;
  /* выравнивает элементы по горизонтали */
  flex-direction: column;
  /* все элементы размещаются на максимальном расстоянии друг от друга */
  justify-content: space-between;
}

/* не превышает 1440px, если окно браузера больше, свойство max-width ограничивает ширину контейнера */
.container {
  border: 1px solid red;
  max-width: 1440px;
  margin: 0 auto;
}
/* Чтобы разместить все элементы навигации в строку, элементу .nav-list указываем свойство display: flex;, сдвинуть их вправо позволит свойство justify-content: flex-end;, выровнять по центру по высоте свойство align-items: center */
.nav-list {
  border: 1px solid red;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link {
  font-family: Pacifico;
  text-decoration: none;
  color: #ff9205;
  font-size: 34px;
  padding: 0 20px;
  line-height: 50px;
  transition: 0.3s;
}
.section-item a {
  color: #ff9205;
  text-decoration: none;
  transition: color 0.5s;
}
.section-item a:hover {
  color: #4d2323;
}
.section-item {
  position: relative;
  padding-left: 30px;
}

.section-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
}
/* в 2 колонки распологаем контент */
.main-container {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
}

.section {
  border: 1px solid red;
  width: 50%;
}
.skills-list {
  list-style: none;
}

#profile {
  background-color: rgb(221, 29, 93);
}

#contacts {
  background-color: rgb(108, 252, 75);
}

#summary {
  background-color: rgb(239, 239, 57);
}

#skills {
  background-color: rgb(45, 29, 221);
}

#code {
  background-color: rgb(108, 252, 75);
}

#education {
  background-color: rgb(221, 29, 93);
}
.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: black;
}

.fit-picture {
  width: 250px;
}
.fit-picture {
  border-radius: 50%;
}
.rss {
  /* width: 121px;
  height: 45px; */
  background-image: url("./assets/svg/rss.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

background-image: url("../assets/img/image.jpg");
