/* Подключение различных видов шрифта Roboto. Подключение шрифтов через Google Fonts*/

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Подключение различных видов шрифта Pacifico. Подключение шрифтов из папки проекта.*/

@font-face {
  font-family: "Pacifico", sans-serif;
  src: url("assets/fonts/pacifico/Pacifico-Regular.ttf");
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  /* минимальная высота body не может быть меньше высоты страницы */
  min-height: 100vh;
  /*Появилась линейка прокрутки. Чтобы убрарть применим след свой-ва.*/
  margin: 0;
  padding: 0;
  /* Прижмем footer к низу страницы */
  display: flex;
  /* выравнивает элементы по горизонтали */
  flex-direction: column;
  /* все элементы размещаются на максимальном расстоянии друг от друга */
  justify-content: space-between;
}

/* не превышает 1440px, если окно браузера больше, свойство max-width ограничивает ширину контейнера */
.container {
  max-width: 1440px;
  margin: 0 auto;
}
/* Чтобы разместить все элементы навигации в строку, элементу .nav-list указываем свойство display: flex;, сдвинуть их вправо позволит свойство justify-content: flex-end;, выровнять по центру по высоте свойство align-items: center */
.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  /*  */
  padding: 0 20px;
  line-height: 50px;
}
.nav-link {
  transition: 0.3s;
}
.section-item a {
  color: #829985;
  text-decoration: none;
  transition: color 0.5s;
}
.section-item a:hover {
  color: #4d2323;
}
/* в 2 колонки распологаем контент */
.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}
.fit-picture {
  width: 250px;
}

background-image: url("../assets/img/image.jpg");
